<% @grupo_tutorados  = GrupoTutorado.new  %>
<%= simple_form_for @grupo_tutorados, url: nuevo_grupo_tutor_url, as: 'nuevo_grupo_tutor'  do |f| %>
    <%= f.error_notification %>

    <p>
      <%= f.label :tutorados %><br>
      <%= f.select('grupo_tutor_id', Estudiante.where(rol_id: (Rol.find_by_nombres('Tutorado')).id).collect {|c| [c.nombres, c.id]}, { include_blank: false }, {class: 'chosen-select'}) %>
    </p>


<% end %>