<%= simple_form_for @informe, url: informes_url, as: 'nuevo_informe'  do |f| %>
    <%= f.error_notification %>

    <p>
      <%= f.input :nombre%>
    </p>


    <%= f.button :submit, "Guardar", class: "my-button" %>
    <br><br>
<% end %>

