<h1>Nombre del Informe:<%= @informes.nombre %><br></h1>



<tr>
  <td>
    <dt>Contiene las siguientes preguntas:</dt>
  </td>
  <% PreguntaInforme.where(informe_id: @informes.id).each do |actual| %>
      <ul><li><%= actual.pregunta.pregunta %></li></ul>
      <br>
  <% end %>
</tr>


<%= link_to 'Volver', informes_path, class: 'btn btn-info' %><br>

<br><br><br>