<% content_for :content_header  do %>
  <section class="content-header">
    <h1>GrupoTutorias <small>#mostrar</small></h1>
  </section>
<% end %>

<section class="content invoice">
  <p>Find me in app/views/grupo_tutorias/mostrar.html.erb</p>
</section>