<div class = "row">
  <div class="col-sm-4"><h3> <%= link_to 'Crear pregunta', nuevo_pregunta_path, class:'btn btn-primary btn-md' %> </h3>
  </div>


</div>
<table class="table">
  <thead>
  <tr>
    <th>Preguntas</th>
    <th>Mostrar</th>





  </tr>
  </thead>
  <tbody>
  <% @pregunta.each do |informe| %>
      <tr>
        <td><%= informe.pregunta %></td>
        <td><%= link_to 'Mostrar', pregunta_url(informe),class: 'btn btn-info' %></td>


      </tr>
  <% end %>
  </tbody>

</table>