
  <section class="content-header">
    <h1>Preguntas <small>Acontinuacion se visualiza su pregunta</small></h1>
  </section>
  <table class="table">
    <tbody>

    <tr>
      <th>Preguntas:</th>
      <td><%= @pregunta.pregunta %></td>
    </tr>
    </tbody>
  </table>


  <%= link_to 'Volver', preguntas_path, class: 'btn btn-info' %><br>
