<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Preguntas <small>#nuevo</small></h1>
  </section>
<% end %>

<section class="content invoice">
  <p>Find me in app/views/preguntas/nuevo.html.erb</p>
</section>